:root {
    --main-color: #8b5cf6;
    --bg-light-color: #a5f3fc;
    --side-color: #059669;
    --light-color: #f8fafc;
    --grey-color: #ef4f4f5;
    --dark-color: #172554;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* Sidebar section */

.sidebar {
    background-color: var(--main-color);
    color: var(--light-color);
    font-size: 20px;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    gap: 50px;
    
}

.sidebar-header {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    margin-right: 1rem;
    cursor: pointer;
}

.sidebar img {
    height: 3rem;
    margin-right: 1.25rem;
}

.sidebar ul li {
    display: flex;
    margin-left: 2rem;
    list-style-type: none;
    padding-bottom: 10px;
    
}

ul li:hover {
    cursor: pointer;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

ul li p:hover {
    border-bottom: 2px solid white;
}

.nav-top img, 
.nav-bottom img{
    height: 1.5rem;
    cursor: pointer;
    margin-right: 1.25rem;
}

/* Header section */

.header {
    padding: 1rem 1rem 0;

}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    grid-area: 1/1/2/2;
    padding: 10px 0px;
    margin-left: 2rem;

}

.search-img input{
    height: 2rem;
    width: 2rem;
}

.search {
    background-color: var(--bg-light-color);
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    min-height: 2.2rem;
    width: 40vw;
    padding: 0.5rem;
}

.profile-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    align-items: center;
    width: 25vw;

    font-size: 1.2rem;
    color: var(--dark-color);
}

.notif {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 1.5rem;
    transition: transform 0.4s ease-in-out;
}

.notif:hover {
    transform: rotate(360deg) scale(1.2);
}

.profile-pic {
    background-color: #8b5cf6;
    padding: 10px;
    border-radius: 25px;
    border: none;
    height: 3.5rem;
    width: 3.5rem;
}

.profile-pic:hover,
.to-click:hover,
.head-btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 30px;

}

.profile-display {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    font-weight: bold;
    width: 40vw;

}

.profile-display img {
    background-color: #8b5cf6;
    padding: 10px;
    border-radius: 70px;
    border: none;
    height: 6rem;
    width: 6rem;
}

.greeting {
    font-size: 1.4rem;
    color: var(--dark-color);
    
}

.profile-name {
    font-size: 1.8rem;
    color: var(--dark-color);
}

.update-status {
    width: 25vw;
    color: var(--dark-color);
    display: flex;
    align-items: center;justify-content: center;
    gap: 2rem; 
    margin-top: 1rem;

}

.update-status button {
    cursor: pointer;
    color: white;
    background-color: var(--dark-color);
    border: none;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1rem;
}

/* Main section */

.main-section {
    background-color: var(--bg-light-color);
    padding: 25px 50px 75px; 
    height: 100%;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    color: var(--dark-color);
}

.subheader {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.projects {
    grid-row: 1 / 3;
    margin-right: 50px;
}

.proj-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 30px;
    height: 95%;
  
}

.project {
    background-color: var(--light-color);

    height: minmax(200px, 300px); 

    border-radius: 15px;

    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-template-rows: 1fr auto;
    cursor: pointer;
}

.color-block {
    grid-row: 1 / 3;
    background:linear-gradient(var(--side-color),var(--main-color));
    border-radius: 20px 0 0 20px;
}

.proj-text {
    padding: 1rem 1rem 0;
    
}

.proj-header {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.proj-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
 
}

.proj-nav img {
    height: 1.5rem;
    width: 1.5rem;
    
}

.announcement {
    margin-bottom: 1.5rem;
    
}

.ann-text, .tre-text {
    font-size: 1.3rem;
    margin: 0.25rem 0;
}

.ann-des {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.ann-container,
.tre-container {
    background-color: var(--light-color);
    padding: 20px 20px;
    border-radius: 15px;
}

.tre-profile {
    display: flex;
    align-items: center;

}


.proj-nav img:hover,
.ann-text:hover,
.tre-profile:hover
 {
    cursor: pointer;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.tre-profile img {
    background-color: #8b5cf6;
    padding: 3px;
    margin: 15px;
    border-radius: 15px;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
}

.tre-des {
    font-size: 1rem;
}

